<style type="text/css">.union-header {
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    height: 55px;
    background-color: #22282E;
    border-bottom: 1px solid #222;
}
.union-header .header-logo {
    margin-top: 10px;
    padding-left: 20px;
    width: 150px;
}
.union-header .header-title {
    margin: 16px 5px 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1mm;
}
body{
    padding-top: 55px;
}</style>
<div class="union-header">
    <div class="header-logo pull-left"><img src="images/unionpay.png"/></div>
    <div class="header-title pull-left">{{config.title}}</div>
</div>