<style>
    .modal_wrapper {
        color: black;
    }
    .modal_wrapper .uni-icon:hover {
        cursor: pointer;
    }
    .modal_wrapper .uni-icon:before{
        color: #fb770f;
        margin-right: 5px;
        margin-left: 3px;
    }
    .modal_wrapper .uni-item {
    
    }
    .modal_wrapper .modal-left {
        width: 26%;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 400px;
        overflow: hidden;
        display: inline-block;
    }
    .modal_wrapper .modal-right {
        width: 37%;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 400px;
        overflow: hidden;
        display: inline-block;
    }
    .modal_wrapper .uni-choose-result {
        padding-left: 30px;
        height: 360px;
        overflow: auto;
        width:100%;
        padding-bottom: 100px;
    }
    .modal_wrapper .uni-choose-span {
        display: inline-block;
        background-color: #f3c580;
        color: white;
        min-width: 60px;
        max-width: 120px;
        text-align: center;
        padding: 3px 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        white-space: nowrap;
        margin: 0px 3px;
    }
    .modal_wrapper .uni-choose-span:hover {
        background-color: #ffb039;
    }
    .modal_wrapper .uni-modal-content {
        width: 35%;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
        height: 400px;
        overflow: hidden;
        display: inline-block;
    }
    .modal_wrapper .modal-part-title{
        height: 25px;
        font-weight: 900;
    }
    .modal_wrapper .modal-part-content{
        height: 360px;
        overflow: auto;
    }
    .modal_wrapper .uni-card {
        margin-top: 0;
        margin-bottom:0;
    }
    .modal_wrapper .modal-left .uni-card .active {
        background-color: #1da7dc;
        color:white;
    }
    .modal_wrapper .modal-right .uni-card .active {
        background-color: #3e5f9a;
        color:white;
    }
    .uni-item.has-choosen {
        background-color: #d3e7ef;
    }
    h3{
        margin-top: 0;
    }
</style>
<div class="modal_wrapper">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        <div class="modal-left">
            <div class="modal-part-title">统计维度</div>
            <div class="modal-part-content">
                <div uni-card>
                    <div uni-item ng-class="{'active': item.isChoosen,'has-choosen': (item.hasChoosen && statisticLists[item.paraId] > 0)}" ng-repeat="item in data" ng-click="choosenItemLeft(item)">
                        {{item.paraNm}}
                    </div>
                </div>
            </div>            
        </div>
        <div class="modal-right">
            <div class="modal-part-title">配置选项</div>
            <div class="modal-part-content">
                <div uni-card>
                    <div uni-item ng-class="{'active': item.isChoosen}" ng-repeat="item in tempLists" ng-click="choosenItemRight(item)">{{item.value}}</div>
                </div>
            </div> 
        </div>
        <div class="uni-modal-content" style="text-align: left;">
            <div class="modal-part-title"><h3>选择结果</h3></div>
            <hr>
            <div class="uni-choose-result">
                <div ng-repeat="value in lists">
                    <h4 ng-if="statisticLists[value.item.paraId] > 0">{{value.item.paraNm}}</h4>
                        <span class="uni-choose-span" title="{{item.value}}" ng-repeat="item in value.data" ng-if="item.isChoosen">{{item.value}}</span>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <!-- <button class="btn btn-warning" ng-click="cancel()">取消</button> -->
    </div>    
</div>