<div>
	<style type="text/css">
		.form-inline .inline-control {
			display: inline-block;
		}
		.form-inline .datepicker {
			width: 120px;
		}
		.form-inline input[type='text'] {
			width: 120px;
		}
		.form-inline .form-group {
		    display: inline-block;
		    margin-bottom: 0;
		    vertical-align: middle;
		    margin-right: 10px;
		}
		.form-horizontal .control-label {
			text-align: right;
		}
		.form-horizontal .control-datepicker {
			padding-left: 0;
		}
		.timepicker tr.text-center {
			display: none;
		}
	</style>
<div class="form-group" ng-class="field.name" ng-form="myForm" ng-repeat="field in form.fields track by $index">
	<label ng-class="form.option.labelClass" class="control-label">
	  <span ng-show="field.required && field.label">*</span>
	  <span ng-if="field.type!='input:checkbox'">{{ field.label }}</span>
	</label>
	<div ng-switch="field.type" ng-class="form.option.inputClass">
	  <div ng-switch-when="input" app-input-text-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:url" app-input-url-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:email" app-input-email-component field="field" model="form.result[field.name]">
      </div>
      <div ng-switch-when="input:multiple" app-input-multiple-component field="field" model="form.result[field.name]">
      </div>
	  <div ng-switch-when="input:date" app-input-date-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:time" app-input-time-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:datetime" app-input-datetime-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:password" app-input-password-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:checkbox" app-input-checkbox-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:radio" app-input-radio-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="input:submit" app-input-submit-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="textarea" app-textarea-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="select" app-select-component field="field" model="form.result[field.name]">
	  </div>
	  <div ng-switch-when="button" app-button-component field="field" model="form.result[field.name]">
	  </div>
	</div>
</div>
<div ng-transclude></div>
</div>
