<style type="text/css">.query-exec-result-wrapper{
	padding: 0 10px;
	text-align: center;
}
.query-exec-result-wrapper a {
	text-decoration: none;
	color: black;
}
.query-exec-result-wrapper table {
	background-color: white;
	color:black;
}
.query-exec-result-wrapper th {
	text-align: center;
}
.query-exec-result-wrapper td {
	text-align: center;
}
.query-exec-result-body {
	text-align: center;
}
.query-exec-result-body .table tr td {
	max-width: 80px;
	vertical-align: middle;
	min-height: 40px;
	max-height: 40px;
    padding: 0;
    margin: 0;
}
	max-height: 40px;
	overflow: scroll;
}
.query-exec-result-body a.opt:hover {
	color: red;
}
.query-exec-result-body .myactive {
	cursor: pointer;
}
</style>
<div class="query-exec-result-wrapper">
	<div class="query-exec-result-body">
		<table class="table table-bordered table-hover">
			<tr>
				<th ng-repeat="item in titles">{{item.title}}</th>
			</tr>
			<tr ng-repeat="item in lists track by $index" class="{{classes[$index % (classes.length)]}}" >
				<td ng-repeat="temp in titles" ng-class="{'myactive': !item[temp.alias]}">
					<span ng-if="temp.alias != 'opt'">{{item[temp.alias]}}</span>
					<a ng-if="temp.alias == 'opt'" class="opt" ng-repeat="opt in opts" ng-click="opt.click(item)">
						{{opt.title}}&nbsp;&nbsp;&nbsp;
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>