<link rel="stylesheet" type="text/css" href="modules/query-edit/style.css">
<style>
    .mod-query-edit .tab-content .btn {

    }
    .query-edit--form {
        width: 270px;
        position: absolute;
        height: 80%;
    }
    .query-edit--form [tabset] {
        height: 100%;
    }

    .query-edit--form label {
        font-weight: bold;
        font-size: 14px;
        color: #666;
    }
    .query-edit--form .btn {
        margin-left: 20%;
    }
    .query-edit--content {
        margin-left: 280px;
    }
    .query-edit--table-fliter {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .span-item-wrapper {
      line-height:2;
    }
    .span-item {
        background-color: #e08d8d;
        display: inline-block;
        color: white;
        padding: 2px;
        margin: 2px;
    }
    .span-item:hover {
      background-color: #fb8484;
      cursor: pointer;
    }

</style>
<div mod-query-edit class="mod-query-edit">
    <div tabset transclude-to="form">
        <div tab heading="查询辅助">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">起始日期</label>
                <div class="col-sm-9">
                  <input type="text" class="calendar form-control" datepicker-popup="yyyy/MM/dd" ng-model="queryEdit.beginDate.value" is-open="queryEdit.beginDate.opened" datepicker-options="queryEdit.dateOptions" ng-required="true" show-button-bar="false" datepicker-append-to-body="true" ng-click="queryEdit.beginDate.opened = true"/>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">结束日期</label>
                <div class="col-sm-9">
                  <input type="text" class="calendar form-control" datepicker-popup="yyyy/MM/dd" ng-model="queryEdit.endDate.value" is-open="queryEdit.endDate.opened" datepicker-options="queryEdit.dateOptions" ng-required="true" show-button-bar="false" datepicker-append-to-body="true" ng-click="queryEdit.endDate.opened = true"/>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">描述</label>
                <div class="col-sm-9">
                  <input class="form-control" ng-model="queryEdit.desc" placeholder="描述">
                </div>
              </div>
              <div class="form-group" style="margin:0;">
                <label for="inputEmail3" class="col-sm-3 control-label">维度</label>
                <div class="col-sm-9" style="padding-left:5px;">
                  <button class="btn btn-primary" ng-click="queryEdit.openStatistic()">配置</button>
                  <div class="uni-select">
                       <span ng-repeat="(key,value) in queryEdit.lists['1']" class="span-item-wrapper">{{value.item.paraNm + ":"}}
                        <span ng-repeat="item in value.data" class="span-item" ng-if="item.isChoosen">{{item.value}} <span class="fa fa-close" ng-click="queryEdit.closeStatisticChooen(item)"></span></span>
                       <br/></span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">业务</label>
                <div class="col-sm-9" style="padding-left:5px;">
                  <button class="btn btn-primary" ng-click="queryEdit.openService('2')">配置</button>
                    <div class="uni-select">
                       <span class="span-item-wrapper">
                         <span  class="span-item" ng-repeat="item in queryEdit.lists['2']" ng-if="item.isChoosen">{{item.paraNm}}<span class="fa fa-close" ng-click="queryEdit.closeStatisticChooen(item)"></span></span>
                       </span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">指标</label>
                <div class="col-sm-9" style="padding-left:5px;">
                    <button class="btn btn-primary" ng-click="queryEdit.openService('3')">配置</button>
                    <div class="uni-select">
                       <span class="span-item-wrapper">
                         <span  class="span-item" ng-repeat="item in queryEdit.lists['3']" ng-if="item.isChoosen">{{item.paraNm}}<span class="fa fa-close" ng-click="queryEdit.closeStatisticChooen(item)"></span></span>
                       </span>
                    </div>
                </div>
              </div>
            </form>
            <div class="operation">
                 <button class="btn btn-success pull-right" ng-click="queryEdit.search()">规则生成</button><button class="btn btn-primary pull-right" ng-click='queryEdit.highSearch()'>自定义查询</button>
            </div>
        </div>
        <div style="text-align:center;">
            <div class="btn btn-success" up-icon="fa fa-plus" ng-click="queryEdit.newSearch()" up-icon-append>新建查询</div>
        </div>
    </div>
    <div transclude-to="table">
        <div query-edit-desc>
            
        </div>
    </div>
</div>
