<link rel="stylesheet" type="text/css" href="modules/query-favor/style.css">
<div oc-lazy-load="['modules/query-favor/main.js']" class="query-favor-wrapper">
	<div>
		<div ng-controller="modQueryFavorCtrl" class="query-favor-form-wrapper">
			<table st-table="displayed" class="table table-bordered table-striped">
			    <thead>
			    <tr>
			    	<th st-ratio="20">存储ID</th>
			    	<!-- <th st-ratio="20">instId</th> -->
			    	<!-- <th st-ratio="20">提交用户</th> -->
			    	<th st-ratio="20">描述</th>
			    	<th st-ratio="20">sql</th>
			    	<th st-ratio="20">存储时间</th>
			    	<th st-ratio="20">操作</th>
			    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat="item in service.results.data track by $index">
			        <td st-ratio="20" title="{{item.storeId}}">
			        	<span>{{item.storeId}}</span>
			        </td>
<!-- 			        <td st-ratio="20" title="{{item.instId}}">
			        	<span>{{item.instId}}</span>
			        </td>
			        <td st-ratio="20" title="{{item.userId}}">
			        	<span>{{item.userId}}</span>
			        </td> -->
			        <td st-ratio="20" title="{{item.storeNm}}">
			        	<span >{{item.storeNm}}</span>
			        </td>
			        <td st-ratio="20" title="{{item.storeContent}}}">
			        	<span >{{item.storeContent}}</span>
			        </td>
			        <td st-ratio="20" title="{{item.storeTime}}">
			        	<span >{{item.storeTime}}</span>
			        </td>
			        <td st-ratio="20" style="text-align: center;">
			        	<span class="query-favor-operation edit" ng-click="service.edit(item)">编辑</span>
			        	<span class="query-favor-operation delete" ng-click="service.delete(item)">删除</span>
			        </td>
			    </tr>
			    </tbody>
			</table>
			<div class="query-favor-result-page">
				<div pagination total-items="service.results.records" items-per-page="service.results.pageSize" ng-model="service.tempPage" max-size="5" class="pagination-sm" boundary-links="true" ng-change="service.pageChanged()" rotate="false" first-text="首页" last-text="尾页" next-text="下一页" previous-text="上一页"></div>
			</div>
		</div>
	</div>
</div>
