	.query-favor-form-wrapper {
		position: absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		padding: 30px;
		overflow: scroll;
	}
	.query-favor-form-wrapper table.table > thead > tr > th,table.table > tbody > tr > td {
		/*display: table-cell;*/
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
	}
	.query-favor-form-wrapper table {
	    box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    display: flex;
	    flex-direction: column;
	    align-items: stretch;
	    height: 400px;
	    position: relative;
	    top: 30px
	}

	.query-favor-form-wrapper table * {
	    box-sizing: inherit;
	    -moz-box-sizing: inherit;
	}

	.query-favor-form-wrapper thead {
	    display: flex;
	    flex-direction: column;
	    align-items: stretch;
	}

	.query-favor-form-wrapper tbody {
	    display: inline-block;
	}

	.query-favor-form-wrapper thead > tr, tbody > tr, tfoot > tr {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	}

	.query-favor-form-wrapper thead, tfoot {
	    flex-shrink: 0;
	}

	.query-favor-form-wrapper th, tbody td {
	    width: 20%; 
	    overflow: hidden;
	    text-overflow: ellipsis;
	    display: inline-block;
	    max-height: 38px;
	    overflow: hidden;
	    work-break: break-word;
	    white-space: nowrap;
	}
	tbody td {
		min-height: 38px;
	}
	.query-favor-form-wrapper tfoot {
	    display: inline-block;
	}

	.query-favor-form-wrapper tfoot td {
	    width: 100%;
	    display: inline-block;
	}
	.query-favor-result-page {
		text-align: center;
		position: relative;
    	top: 30px;
	}
	.query-favor-result-page .pagination {
		margin: 0;
	}
	.query-favor-operation {
		margin: 0 10px
	}
	.query-favor-operation.edit:hover {
		color: green;
	}
	.query-favor-operation.delete:hover {
		color: red;
	}