
    <div class="up-site">
        <div class="up-site--head" transclude-id="site-head">
            <img class="up-site--logo" src="images/unionpay.png"/>
        </div>
        <div class="up-site--main">
                <div class="up-site--menu" transclude-id="site-menu">
                    <div class="up-site--menu-title ">系统导航</div>
                </div>
                <div class="up-site--body" transclude-id="site-body"></div>
        </div>
        <div class="up-site--foot">
            <div>Copyright &copy; 2009-2016 中国银联版权所有</div>
        </div>
    </div>
